$align: left;
$align-center: center;
$bg-color: lightblue;
$color-01: white;
$color-02: #fffb01;
$color-03: #f00; 
$color-04: lightblue;
$color-default: #020202;
$font-big: 4rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-family-01: 'Montserrat';
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb-button: 4px double $color-01; 
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;